In [2]:
# Feature Extraction with PCA
import numpy
from pandas import read_csv
from sklearn.decomposition import PCA

In [19]:
# load data
dataset= "exp8.csv"
names = ['M1', 'M2', 'OA', 'age']
dataframe = read_csv(dataset, names=names)

In [20]:
dataframe

    M1  M2  OA  age
0   23  34  23   19
1    8  26  34   18
2   17  32  38   18
3    4  34  34   17
4   32  38  41   19
5   15  36  16   20
6   11  46  30   19
7   16  43  30   19
8   46  47  39   20
9   43  21   5   18
10  22  33  28   20
11  17  41  41   19
12  29  23  19   19
13  31   4  44   18
14  32  27  17   18
15  21  44   9   19

In [23]:
array = dataframe.values
X = array[:,0:10]
Y = array[:,3]

In [24]:
X

array([[23, 34, 23, 19],
       [ 8, 26, 34, 18],
       [17, 32, 38, 18],
       [ 4, 34, 34, 17],
       [32, 38, 41, 19],
       [15, 36, 16, 20],
       [11, 46, 30, 19],
       [16, 43, 30, 19],
       [46, 47, 39, 20],
       [43, 21,  5, 18],
       [22, 33, 28, 20],
       [17, 41, 41, 19],
       [29, 23, 19, 19],
       [31,  4, 44, 18],
       [32, 27, 17, 18],
       [21, 44,  9, 19]], dtype=int64)

In [25]:
Y

array([19, 18, 18, 17, 19, 20, 19, 19, 20, 18, 20, 19, 19, 18, 18, 19],
      dtype=int64)

In [26]:
# feature extraction
pca = PCA(n_components=3)

In [27]:
pca

PCA(n_components=3)

In [28]:
fit = pca.fit(X)

In [29]:
fit

PCA(n_components=3)

In [30]:
# summarize components
print("Explained Variance: %s" % fit.explained_variance_ratio_)

Explained Variance: [0.43301627 0.32703069 0.23882267]